## Electricity Contract Selection

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import re

warnings.filterwarnings('ignore')

In [2]:
os.chdir('D:\Data analysis\DataScience Academy\Python course\Python Capstone')

In [3]:
df = pd.read_excel('./data_cleaning.xlsx', sheet_name='Usage', header=None)

df.head()

                                           0
0      3 PM  Mon 24th-Mar-2014___0.384 kwh
1             5AM  15-Aug-2014___1.201  kwh
2       __8PM Thu 20-Mar-2014____1.523 kwh
3            6PM  23rd-Apr-2014___0.424  kwh
4  _1AM  Friday 19th-Dec-2014___0.209  kwh

## Data processing

- Extracting a Date column from the raw data

In [4]:
test_1 = df.iloc[0][0]

test_2 = df.iloc[1][0]

print(test_1,test_2, sep='\n')

 3 PM  Mon 24th-Mar-2014___0.384 kwh
5AM  15-Aug-2014___1.201  kwh

- Creating patterns to extract the Data needed for creating columns

In [5]:
pattern_1 = r'[\s_]+(\d{1,2})\s?((?:AM|PM)).+?(\d{1,2})(?:th|nd|rd|st)?-([A-z]+)-(\d{1,4})'

pattern_2 = r'([\d{1,2}])+\s?((?:AM|PM)).+?(\d{1,2})(?:th|nd|rd|st)?-([A-z]+)-(\d{1,4})'

pattern_3 = r'(?<=\_)[0-9]+(?=\.).+(?<=\.)[0-9]+(?=\\)?'

pattern_4 = r'(?:[a-z]+\s)?(kwh)\s*$'

pattern_5 = r'^[\s_]*([0-9]+)'

pattern_6 = r'(?:AM|PM)'

pattern_7 = r'(?<=\-)[A-Z]+(?=\-)?..'

In [6]:
script = re.findall(pattern_7, test_1)
script
#pd.DataFrame(script).apply(lambda x:f'{x[2]}-{x[3]}-{x[4]}',axis = 1)

['Mar']

- Extracting dates from the Raw Data

In [7]:
Dates = []

for index, row in df.iterrows():
    dates = row[0]
    
    if len(re.findall(pattern_1, dates))>0:
        
        dates = re.findall(pattern_1, dates)
    else:
        dates = re.findall(pattern_2, dates)
        
    dates = pd.DataFrame(dates).apply(lambda x:f'{x[2]}-{x[3]}-{x[4]}',axis = 1)
    Dates.append(dates.values.tolist())
    
df['Dates'] = Dates

In [8]:
df['Dates'] =df['Dates'].apply(lambda x: x[0])

In [9]:
df.head()

                                           0        Dates
0      3 PM  Mon 24th-Mar-2014___0.384 kwh    24-Mar-2014
1             5AM  15-Aug-2014___1.201  kwh   15-Aug-2014
2       __8PM Thu 20-Mar-2014____1.523 kwh    20-Mar-2014
3            6PM  23rd-Apr-2014___0.424  kwh  23-Apr-2014
4  _1AM  Friday 19th-Dec-2014___0.209  kwh    19-Dec-2014

- Extracting kwh values from the Raw Data

### Values

In [10]:
Values = []

for index, row in df.iterrows():
    values = row[0]
    values = re.findall(pattern_3, values)
    
    Values.append(values)
df['Values'] = Values

df['Values'] =df['Values'].apply(lambda x: x[0])

In [11]:
df.head()

                                           0        Dates Values
0      3 PM  Mon 24th-Mar-2014___0.384 kwh    24-Mar-2014  0.384
1             5AM  15-Aug-2014___1.201  kwh   15-Aug-2014  1.201
2       __8PM Thu 20-Mar-2014____1.523 kwh    20-Mar-2014  1.523
3            6PM  23rd-Apr-2014___0.424  kwh  23-Apr-2014  0.424
4  _1AM  Friday 19th-Dec-2014___0.209  kwh    19-Dec-2014  0.209

- Extracting units from the Raw Data

### Units

In [12]:
Units = []

for index, row in df.iterrows():
    units = row[0]
    units = re.findall(pattern_4, units)
    
    Units.append(units)
df['Units'] = Units

df['Units'] =df['Units'].apply(lambda x: x[0])

df.head()

                                           0        Dates Values Units
0      3 PM  Mon 24th-Mar-2014___0.384 kwh    24-Mar-2014  0.384   kwh
1             5AM  15-Aug-2014___1.201  kwh   15-Aug-2014  1.201   kwh
2       __8PM Thu 20-Mar-2014____1.523 kwh    20-Mar-2014  1.523   kwh
3            6PM  23rd-Apr-2014___0.424  kwh  23-Apr-2014  0.424   kwh
4  _1AM  Friday 19th-Dec-2014___0.209  kwh    19-Dec-2014  0.209   kwh

- Extracting Hours from Raw Data

### Hours

In [13]:
Hours = []

for index, row in df.iterrows():
    hours = row[0]
    hours = re.findall(pattern_5, hours)
    
    Hours.append(hours)
df['Hours'] = Hours

df['Hours'] =df['Hours'].apply(lambda x: x[0])

df.head()

                                           0        Dates Values Units Hours
0      3 PM  Mon 24th-Mar-2014___0.384 kwh    24-Mar-2014  0.384   kwh     3
1             5AM  15-Aug-2014___1.201  kwh   15-Aug-2014  1.201   kwh     5
2       __8PM Thu 20-Mar-2014____1.523 kwh    20-Mar-2014  1.523   kwh     8
3            6PM  23rd-Apr-2014___0.424  kwh  23-Apr-2014  0.424   kwh     6
4  _1AM  Friday 19th-Dec-2014___0.209  kwh    19-Dec-2014  0.209   kwh     1

### Time of the day

In [14]:
Am_Pm = []

for index, row in df.iterrows():
    am_pm = row[0]
    am_pm = re.findall(pattern_6, am_pm)
    
    Am_Pm.append(am_pm)
df['AM_PM'] = Am_Pm

df['AM_PM'] =df['AM_PM'].apply(lambda x: x[0])

df.head()

,0,Dates,Values,Units,Hours,AM_PM
0,3 PM Mon 24th-Mar-2014___0.384 kwh,24-Mar-2014,0.384,kwh,3,PM
1,5AM 15-Aug-2014___1.201 kwh,15-Aug-2014,1.201,kwh,5,AM
2,__8PM Thu 20-Mar-2014____1.523 kwh,20-Mar-2014,1.523,kwh,8,PM
3,6PM 23rd-Apr-2014___0.424 kwh,23-Apr-2014,0.424,kwh,6,PM
4,_1AM Friday 19th-Dec-2014___0.209 kwh,19-Dec-2014,0.209,kwh,1,AM

- Extracting Months from the Raw Data

### Months

In [15]:
Months = []

for index, row in df.iterrows():
    months = row[0]
    months = re.findall(pattern_7, months)
    
    Months.append(months)
df['Months'] = Months

df['Months'] =df['Months'].apply(lambda x: x[0])

df.head()

,0,Dates,Values,Units,Hours,AM_PM,Months
0,3 PM Mon 24th-Mar-2014___0.384 kwh,24-Mar-2014,0.384,kwh,3,PM,Mar
1,5AM 15-Aug-2014___1.201 kwh,15-Aug-2014,1.201,kwh,5,AM,Aug
2,__8PM Thu 20-Mar-2014____1.523 kwh,20-Mar-2014,1.523,kwh,8,PM,Mar
3,6PM 23rd-Apr-2014___0.424 kwh,23-Apr-2014,0.424,kwh,6,PM,Apr
4,_1AM Friday 19th-Dec-2014___0.209 kwh,19-Dec-2014,0.209,kwh,1,AM,Dec

In [16]:
df.drop(0, axis=1, inplace = True)

In [17]:
df.head()

         Dates Values Units Hours AM_PM Months
0  24-Mar-2014  0.384   kwh     3    PM    Mar
1  15-Aug-2014  1.201   kwh     5    AM    Aug
2  20-Mar-2014  1.523   kwh     8    PM    Mar
3  23-Apr-2014  0.424   kwh     6    PM    Apr
4  19-Dec-2014  0.209   kwh     1    AM    Dec

In [18]:
df.groupby(by = 'Dates').min()

            Values Units Hours AM_PM Months
Dates
01-Apr-2014  0.052   kwh    10    AM    Apr
01-Aug-2014  0.264   kwh    10    AM    Aug
01-Dec-2014  0.185   kwh    10    AM    Dec
01-Feb-2014  0.374   kwh    10    AM    Feb
01-Jan-2014  0.332   kwh     1    AM    Jan
...            ...   ...   ...   ...    ...
9-Mar-2014   0.218   kwh     1    AM    Mar
9-May-2014   0.138   kwh     1    AM    May
9-Nov-2014   0.123   kwh     1    AM    Nov
9-Oct-2014   0.098   kwh     1    AM    Oct
9-Sep-2014   0.123   kwh     1    AM    Sep

[473 rows x 5 columns]

### With the help of the map() function assigning the Months with their appropriate numbers during a whole year

In [19]:
df['Dates']=pd.to_datetime(df['Dates'], format ='%d-%b-%Y' )

df['Hours'] = pd.to_numeric(df['Hours'])

df['Values'] = pd.to_numeric(df['Values'])

months = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 
         'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10,
         'Nov':11, 'Dec':12}

df['Months']=df['Months'].map(months)

In [20]:
df.head()

       Dates  Values Units  Hours AM_PM  Months
0 2014-03-24   0.384   kwh      3    PM       3
1 2014-08-15   1.201   kwh      5    AM       8
2 2014-03-20   1.523   kwh      8    PM       3
3 2014-04-23   0.424   kwh      6    PM       4
4 2014-12-19   0.209   kwh      1    AM      12

### Identifying an average hourly electricity rate

In [21]:
hr_usage=df.groupby(by = 'Hours').mean()['Values']

In [22]:
hr_usage.mean()

0.7816459119848497

### Looking for an average electricity usage per hour in Fevruary

In [23]:
feb_hr_usage= df[df['Months']==2].groupby(by = 'Hours').mean()['Values']

In [24]:
feb_hr_usage.mean()

0.8331759740259742

In [25]:
df.head()

       Dates  Values Units  Hours AM_PM  Months
0 2014-03-24   0.384   kwh      3    PM       3
1 2014-08-15   1.201   kwh      5    AM       8
2 2014-03-20   1.523   kwh      8    PM       3
3 2014-04-23   0.424   kwh      6    PM       4
4 2014-12-19   0.209   kwh      1    AM      12

### We see that Sunday with the 0.898601 kwh has the highest average electricity usage

In [26]:
df['Week_days'] = df['Dates'].dt.day_name()

In [27]:
df.head()

       Dates  Values Units  Hours AM_PM  Months  Week_days
0 2014-03-24   0.384   kwh      3    PM       3     Monday
1 2014-08-15   1.201   kwh      5    AM       8     Friday
2 2014-03-20   1.523   kwh      8    PM       3   Thursday
3 2014-04-23   0.424   kwh      6    PM       4  Wednesday
4 2014-12-19   0.209   kwh      1    AM      12     Friday

In [28]:
week_days = df.groupby(by = 'Week_days')['Values'].mean()

In [29]:
week_days.sort_values(ascending=False)

Week_days
Sunday       0.898601
Saturday     0.890300
Friday       0.753666
Thursday     0.746375
Wednesday    0.733699
Monday       0.725894
Tuesday      0.724843
Name: Values, dtype: float64

### Highest amount of electricity used in a continuous 4 hour period is 17.237 kwh

In [30]:
#  First we took the hours and created the timestamp with the AM|PM distinction

df['timestamp']=pd.to_datetime(df['Hours'].astype(str)+' '+df['AM_PM'], format='%I %p')

In [31]:
df.head()

       Dates  Values Units  Hours AM_PM  Months  Week_days           timestamp
0 2014-03-24   0.384   kwh      3    PM       3     Monday 1900-01-01 15:00:00
1 2014-08-15   1.201   kwh      5    AM       8     Friday 1900-01-01 05:00:00
2 2014-03-20   1.523   kwh      8    PM       3   Thursday 1900-01-01 20:00:00
3 2014-04-23   0.424   kwh      6    PM       4  Wednesday 1900-01-01 18:00:00
4 2014-12-19   0.209   kwh      1    AM      12     Friday 1900-01-01 01:00:00

In [32]:
df['Year']=pd.to_datetime(df['Dates']).dt.year
df['Month']=pd.to_datetime(df['Dates']).dt.month
df['Day']=pd.to_datetime(df['Dates']).dt.day

In [33]:
## To synchronise the hours with our min() date in our data

df['Datetime']=pd.to_datetime(df[['Year','Month', 'Day']])+pd.to_timedelta(df['timestamp'].dt.strftime('%H:%M:%S'))

In [34]:
df.drop(['timestamp'], axis=1, inplace=True)

In [35]:
df.drop(['Months'], axis=1,inplace=True)

In [36]:
df.sort_values('Datetime', inplace = True)

In [37]:
df.set_index('Datetime', inplace = True)

In [38]:
df.head()

,Dates,Values,Units,Hours,AM_PM,Week_days,Year,Month,Day
Datetime,,,,,,,,,
2014-01-01 00:00:00,2014-01-01,0.684,kwh,12,AM,Wednesday,2014,1,1
2014-01-01 01:00:00,2014-01-01,0.340,kwh,1,AM,Wednesday,2014,1,1
2014-01-01 02:00:00,2014-01-01,0.332,kwh,2,AM,Wednesday,2014,1,1
2014-01-01 03:00:00,2014-01-01,0.396,kwh,3,AM,Wednesday,2014,1,1
2014-01-01 04:00:00,2014-01-01,0.388,kwh,4,AM,Wednesday,2014,1,1

In [39]:
## We are grouping the Data into 4 hour time intervals and calculating the cumulative sums of the kwh used
# We chose closed = 'right', to indicate that each 4 hour time interval is separated from the previous 4 hour time interval

grouped_df = df['Values'].groupby(pd.Grouper(freq = '4H',closed ='right' )).sum()

In [40]:
grouped_df[grouped_df==grouped_df.max()]

Datetime
2014-07-20 16:00:00    17.237
Freq: 4H, Name: Values, dtype: float64

### Under the Monthly flex contract. Based on the historic electricity usage, the annual cost of electricity will be 1421.0577

In [41]:
# df.drop(['Monthly_flex'], axis=1, inplace=True)

In [42]:
cost = {1:0.20, 2:0.19,3:0.17,4:0.18,
       5:0.22,6:0.27,7:0.24,8:0.19,
       9:0.18,10:0.15,11:0.14,12:0.19}

In [43]:
df['Monthly_cost'] = df['Month'].map(cost)

In [44]:
## We calculated the cost for each month separately

## Then took the monthly costs according to the month_flex sheet and found the Annual cost as the task requires

month_usage=df.groupby('Month')['Values'].sum()

month_cost=df.groupby('Month')['Monthly_cost'].min()

annual_cost=pd.DataFrame(month_usage*month_cost).sum()

annual_cost

0    1421.20577
dtype: float64

In [45]:
df.head()

,Dates,Values,Units,Hours,AM_PM,Week_days,Year,Month,Day,Monthly_cost
Datetime,,,,,,,,,,
2014-01-01 00:00:00,2014-01-01,0.684,kwh,12,AM,Wednesday,2014,1,1,0.2
2014-01-01 01:00:00,2014-01-01,0.340,kwh,1,AM,Wednesday,2014,1,1,0.2
2014-01-01 02:00:00,2014-01-01,0.332,kwh,2,AM,Wednesday,2014,1,1,0.2
2014-01-01 03:00:00,2014-01-01,0.396,kwh,3,AM,Wednesday,2014,1,1,0.2
2014-01-01 04:00:00,2014-01-01,0.388,kwh,4,AM,Wednesday,2014,1,1,0.2

### No Flex Plan 
- Which is the fixed cost per kWh of electricity  for the entire year that equals to 0.21

In [46]:
df.reset_index(inplace=True)

In [47]:
no_flex= df.groupby(df['Datetime'].dt.year)['Values'].sum()*0.21

no_flex

Datetime
2014    1438.10394
Name: Values, dtype: float64

### Monthly Flex

- Which is the cost per kWh of electricity depending on the month

In [48]:
monthly_flex = annual_cost

monthly_flex

0    1421.20577
dtype: float64

### Hourly Flex

- Which is the cost per kWh of electricity based on the time of day

In [49]:
df['Timestamp']=df['Datetime'].dt.strftime('%H:%M:%S')

In [50]:
additional_data = pd.DataFrame({'StartTime':['00:00:00','01:00:00','02:00:00','03:00:00',
                                             '04:00:00','05:00:00','06:00:00','07:00:00','08:00:00','09:00:00','10:00:00',
                                             '11:00:00','12:00:00','13:00:00','14:00:00','15:00:00','16:00:00','17:00:00',
                                             '18:00:00','19:00:00','20:00:00', '21:00:00','22:00:00','23:00:00'],
             'EndTime':['01:00:00','02:00:00','03:00:00','04:00:00',
                        '05:00:00','06:00:00','07:00:00','08:00:00','09:00:00','10:00:00',
                        '11:00:00','12:00:00','13:00:00','14:00:00','15:00:00','16:00:00',
                        '17:00:00','18:00:00','19:00:00','20:00:00', '21:00:00','22:00:00','23:00:00','00:00:00'],
             'HrlyCost':[0.10,0.10,0.10,0.10,0.15,0.20,0.24,0.24,0.26,0.20,0.20,0.26,0.26,0.20,0.24,0.18,0.15,
                    0.30,0.24,0.24,0.12,0.11,0.10,0.10]})

In [51]:
 df_merged = df.merge(additional_data,left_on='Timestamp', right_on='StartTime', how='left')

In [52]:
df_merged.drop(['StartTime', 'EndTime'], axis=1, inplace=True)

In [53]:
hrly_cost = df_merged.groupby('Timestamp')['HrlyCost'].min()

- Finding the annual cost for the Hourly flex plan

In [54]:
usage = df_merged.groupby('Timestamp')['Values'].sum()

In [55]:
hour_flex=pd.DataFrame(hrly_cost*usage).sum()

In [56]:
flex = {'No Flex plan':no_flex,
       'Monthly Flex plan':monthly_flex,
       'Hourly Flex Plan':hour_flex}

In [57]:
flex = {key : value.item() for key, value in flex.items()}

In [58]:
flex_values = pd.DataFrame.from_dict(flex, orient='index', columns=['Values'])

flex_values.sort_values('Values')

                       Values
Hourly Flex Plan   1368.97647
Monthly Flex plan  1421.20577
No Flex plan       1438.10394

### As per result we can clearly say that an Hourly Flex Plan will produce the least amount of annual cost